<!-- <div class="fixed bottom-0 bg-neutral-900 text-white w-full px-8 py-4"> -->
  <div class="bg-neutral-900 text-white w-full px-8 py-4">
  <!-- <div class="bg-neutral-900 text-white w-full px-8 py-4"> -->
    <div class="flex sm:flex-row justify-between max-sm:items-start">
        <div class="flex flex-col justify-center items-start">
          <h3 class="text-2xl mb-2">NUESTROS HORARIOS</h3>
          <p>LUN - SAB <span class="text-gray-400">7 AM - 7 PM</span></p>
          <p>DOMINGOS  <span class="text-gray-400"> 9 AM - 5 PM</span></p>
        </div>
        <div class="max-sm:hidden flex flex-col justify-center items-center">
          <img src="/assets/images/logo-la-dorada.png" alt="Logo LADORADA" class="w-32">
          <div class="mt-3">
            <a href="#" class="mx-2 transition-colors duration-200 ease-in-out hover:text-red-600"><i class="pi pi-youtube"></i></a>
            <a href="#" class="mx-2 transition-colors duration-200 ease-in-out hover:text-pink-700"><i class="pi pi-instagram"></i></a>
            <a href="#" class="mx-2 transition-colors duration-200 ease-in-out hover:text-blue-500"><i class="pi pi-facebook"></i></a>
          </div>
        </div>
        <div class="flex flex-col justify-center items-start">
          <h3 class="text-2xl mb-2">CONTACTANOS</h3>
          <p class="text-gray-400"><i class="text-green-500 pi pi-phone"></i> 998 822 844 <span class="mx-2 text-white">|</span> (01) 446 - 2278</p>
          <p class="text-gray-400"><i class="text-[#EFB810] pi pi-google"></i> ladorada&#64;gmail.com</p>
          <a href="#" class="mt-2 hover:text-[#EFB810] hover:underline transition-colors duration-200 ease-in-out">LIBRO DE RECLAMACIONES</a>
        </div>
</div>
