<div class="flex flex-col lg:flex-row w-full py-8">
    <div class="flex flex-col w-full lg:w-2/3">
        <div class="p-4">
            <h2 class="pb-6 text-3xl underline decoration-[#EFB810] underline-offset-[6px]">NUESTRO OBJETIVO</h2>
            <p class="text-justify"> LADORADA Fish Farm es una empresa innovadora dedicada a la producción sostenible de Paiche (Arapaima gigas), el Rey del Amazonas Peruano.</p>
            <p class="text-justify">Nuestro objetivo es ofrecer al mercado gourmet el Baby Paiche, una presentación premium producida mediante Acuicultura Sostenible, contribuyendo a la preservación de esta especie y la conservación de los recursos naturales.</p>
        </div>
        <div class="p-4 gap-14 flex flex-col lg:flex-row ">
            <div class="">
                <h2 class="pb-6 text-3xl underline decoration-[#EFB810] underline-offset-[6px]">MISIÓN</h2>
                <p class="text-justify">Contribuir a la seguridad alimentaria y al desarrollo sostenible mediante la producción de carne de paiche de alta calidad, utilizando técnicas innovadoras de acuicultura que respeten el medio ambiente y promuevan la conservación de los recursos naturales.</p>
            </div>
            <div class="">
                <h2 class="pb-6 text-3xl underline decoration-[#EFB810] underline-offset-[6px]">VISIÓN</h2>
                <p class="text-justify">LADORADA como líder a nivel nacional en la producción sostenible de carne de paiche, impulsando un futuro donde la alimentación saludable y responsable sea accesible para todos.       </p>
            </div>
        </div>
    </div>
    <div class="flex w-full lg:w-1/3 p-10">
        <img src="" alt="productos" class="rounded-4xl w-full h-full object-cover shadow-2xl" srcset="assets/images/nosotros-ladorada.png" />
    </div>
</div>